langchain
langchain-community
langchain_huggingface
langchain_core
langchain_pinecone
sentence_transformers
groq
streamlit
pinecone
numpy
soundfile
av 
streamlit_webrtc
gtts








