langchain
langchain-community
langchain_huggingface
langchain_core
langchain_pinecone
tiktoken
sentence-transformers
groq
streamlit
pinecone
numpy
soundfile
av 
streamlit_webrtc
gtts






